@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';
* {
 font-family:'press start 2p',
 Roboto,
 sans-serif
}



@-webkit-keyframes fadeIn {
 from {
  opacity:0
 }
 to {
  opacity:1
 }
}



@keyframes fadeIn {
 from {
  opacity:0
 }
 to {
  opacity:1
 }
}

a{
    text-decoration:none ;
    color: black;
}

body{
    background: rgb(175, 174, 174);
}

.Logo{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 1000px;
}

.top{
    position: absolute;
    background: rgb(102, 102, 102);
    width: 1200px;
    height: 70px;
    left: 150px;
    top: 20px;
    border-radius: 20px;
}

.Gla{
    position: absolute;
    background: rgb(255, 99, 120);
    top: 0px;
    width: 200px;
    height: 70px;
    left: 150px;
    border-radius: 0px; 
    opacity: 0;
}

.Gla:hover{
    opacity: 1;
    transition: 0.25s;
}

.Glate{
    position: absolute;
    font-size: 14pt;
    left: 185px;
    top: 8px;
}

.Info{
    position: absolute;
    background: rgb(255, 99, 120);
    top: 0px;
    width: 200px;
    height: 70px;
    left: 350px;
    border-radius: 0px; 
    opacity: 0;
}

.Info:hover{
    opacity: 1;
    transition: 0.25s;  
}

.InfoTe{
    position: absolute;
    font-size: 14pt;
    left: 358px;
    top: 8px; 
}

.Rules{
    position: absolute;
    background: rgb(255, 99, 120);
    top: 0px;
    width: 200px;
    height: 70px;
    left: 550px;
    border-radius: 0px; 
    opacity: 0;
}

.Rules:hover{
    opacity: 1;
    transition: 0.25s;  
}

.RulesTe{
    position: absolute;
    font-size: 14pt;
    left: 559px;
    top: 8px;  
}

.Users{
    position: absolute;
    background: rgb(255, 99, 120);
    top: 0px;
    width: 200px;
    height: 70px;
    left: 750px;
    border-radius: 0px; 
    opacity: 0; 
}

.Users:hover{
    opacity: 1;
    transition: 0.25s;   
}

.UsersTe{
    position: absolute;
    font-size: 14pt;
    left: 768px;
    top: 8px;    
}

.XXXVideos{
    position: absolute;
    background: rgb(255, 99, 120);
    top: 0px;
    width: 100px;
    height: 70px;
    left: 950px;
    border-radius: 0px; 
    opacity: 1; 
}

.XXXVideos:hover{
    opacity: 1;
    transition: 0.25s;   
}

.XXXTextVideos{
    position: absolute;
    font-size: 14pt;
    left: 974px;
    top: 8px;  
}

.gif{
    position: fixed; z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%; 
}

.gif2{
    position: fixed; z-index: -2;
    opacity: 0;
}

.main{
    position: absolute;
    left: 0px;
    top: 180px;
    background: rgba(0, 0, 0, 0.548);
    width: 1200px;
    height: 2200px;
}

.news1{
    position: absolute;
    left: 50px;
    top: 50px;
    background: rgba(0, 0, 0, 0.548);
    width: 1100px;
    height: 2000px; 
}

.new1H2{
    position: absolute;
    left: 250px;
    color: darkred;
}

.news1Te{
    position: absolute;
    left: 25px;
    font-size: 14pt;
    color: rgb(255, 255, 255);
    top: 100px;
    line-height: 22px;
}

.Intro{
    position: absolute;
    width: 1060px;
    height: 600px;
    left: 20px;
    top: 420px;
}

#main img{
    display: none;
}

#main video{
    display: none;
}

#main:target img{
    display: block;
}

#main:target video{
    display: block;
}

#main:target + #click{
    display: block;
}


#main2 video{
    display: none;
}


#main2:target video{
    display: block;
}

#main2:target + #click2{
    display: block;
}

.IntroBlock{
    position: absolute;
    top: 350px;
}

.plus2{
    position: absolute;
    top: 353px;
    left: 553px;
    color: darkgreen;
}

.Minustext2{
    position: absolute;
    top: 350px; 
    left: 620px;
}

.minus2{
    position: absolute;
    top: 353px;
    left: 765px;
    color: darkred;  
}

.Squshkaa{
    color: rgb(175, 0, 0);    
}

.historybutt{
    position: absolute;
    top: 40px;
}

.plus1{
    position: absolute;
    top: 43px;
    left: 530px;
    color: darkgreen;
}

.minus{
     position: absolute;
    top: 45px;
    left: 835px;
    color: darkred;  
}

.Minustext{
      position: absolute;
    top: 43px;
    left: 685px;
    color: rgb(0, 0, 0);  
}

.YummyinText{
    color: rgb(255, 0, 64);
}

.XXX1{
    position: absolute;
    width: 180px;
    height: 240px;
    top: 100px;
    left: 30px;
}

.XXX2{
    position: absolute;
    width: 180px;
    height: 240px;
    top: 100px;
    left: 240px; 
}

.XXX3{
    position: absolute;
    width: 180px;
    height: 240px;
    top: 100px;
    left: 450px;  
}

.XXX4{
    position: absolute;
    width: 180px;
    height: 240px;
    top: 100px;
    left: 660px;  
}

.XXX5{
    position: absolute;
    width: 180px;
    height: 240px;
    top: 100px;
    left: 870px;  
}

@media (max-width:1000px){
    .gif{
        position: fixed; z-index: -2;
        opacity: 0;
    }
    
    .gif2{
        position: fixed; z-index: -1;
        top: 0px;
        opacity: 1;
        left: 0px;
        width: 100%;
        height: 100%; 
    }
    .Logo{
        position: absolute;
        width: 135px;
        height: 135px;
        border-radius: 1000px;
    }
    
    .top{
        position: absolute;
        background: rgb(102, 102, 102);
        width: 1200px;
        height: 100px;
        left: 150px;
        top: 20px;
        border-radius: 20px;
    }
    
    .Gla{
        position: absolute;
        background: rgb(255, 99, 120);
        top: 0px;
        width: 200px;
        height: 100px;
        left: 150px;
        border-radius: 0px; 
        opacity: 0;
    }
    
    .Gla:hover{
        opacity: 1;
        transition: 0.25s;
    }
    
    .Glate{
        position: absolute;
        font-size: 14pt;
        left: 185px;
        top: 25px;
    }
    
    .Info{
        position: absolute;
        background: rgb(255, 99, 120);
        top: 0px;
        width: 200px;
        height: 100px;
        left: 350px;
        border-radius: 0px; 
        opacity: 0;
    }
    
    .Info:hover{
        opacity: 1;
        transition: 0.25s;  
    }
    
    .InfoTe{
        position: absolute;
        font-size: 14pt;
        left: 358px;
        top: 25px; 
    }
    
    .Rules{
        position: absolute;
        background: rgb(255, 99, 120);
        top: 0px;
        width: 200px;
        height: 100px;
        left: 550px;
        border-radius: 0px; 
        opacity: 0;
    }
    
    .Rules:hover{
        opacity: 1;
        transition: 0.25s;  
    }
    
    .RulesTe{
        position: absolute;
        font-size: 14pt;
        left: 559px;
        top: 25px;  
    }
    
    .Users{
        position: absolute;
        background: rgb(255, 99, 120);
        top: 0px;
        width: 200px;
        height: 100px;
        left: 750px;
        border-radius: 0px; 
        opacity: 0; 
    }
    
    .Users:hover{
        opacity: 1;
        transition: 0.25s;   
    }
    
    .UsersTe{
        position: absolute;
        font-size: 14pt;
        left: 768px;
        top: 25px;    
    }
    .news1Te{
        position: absolute;
        left: 25px;
        font-size: 13pt;
        color: rgb(255, 255, 255);
        top: 40px;
        line-height: 1.5;
    }
    
    .XXXVideos{
    position: absolute;
    background: rgb(255, 99, 120);
    top: 0px;
    width: 100px;
    height: 100px;
    left: 950px;
    border-radius: 0px; 
    opacity: 1; 
}

.XXXVideos:hover{
    opacity: 1;
    transition: 0.25s;   
}

.XXXTextVideos{
    position: absolute;
    font-size: 14pt;
    left: 974px;
    top: 25px;  
}
    
}
