@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';
* {
 font-family:'press start 2p',
 Roboto,
 sans-serif
}



@-webkit-keyframes fadeIn {
 from {
  opacity:0
 }
 to {
  opacity:1
 }
}



@keyframes fadeIn {
 from {
  opacity:0
 }
 to {
  opacity:1
 }
}



a{
    text-decoration:none ;
    color: black;
}

body{
    background: rgb(175, 174, 174);
}

.Logo{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 1000px;
}

.top{
    position: absolute;
    background: rgb(102, 102, 102);
    width: 1200px;
    height: 70px;
    left: 150px;
    top: 20px;
    border-radius: 20px;
}

.Gla{
    position: absolute;
    background: rgb(255, 99, 120);
    top: 0px;
    width: 200px;
    height: 70px;
    left: 150px;
    border-radius: 0px; 
    opacity: 0;
}

.Gla:hover{
    opacity: 1;
    transition: 0.25s;
}

.Glate{
    position: absolute;
    font-size: 14pt;
    left: 185px;
    top: 8px;
}

.Info{
    position: absolute;
    background: rgb(255, 99, 120);
    top: 0px;
    width: 200px;
    height: 70px;
    left: 350px;
    border-radius: 0px; 
    opacity: 0;
}

.Info:hover{
    opacity: 1;
    transition: 0.25s;  
}

.InfoTe{
    position: absolute;
    font-size: 14pt;
    left: 358px;
    top: 8px; 
}

.Rules{
    position: absolute;
    background: rgb(255, 99, 120);
    top: 0px;
    width: 200px;
    height: 70px;
    left: 550px;
    border-radius: 0px; 
    opacity: 0;
}

.Rules:hover{
    opacity: 1;
    transition: 0.25s;  
}

.RulesTe{
    position: absolute;
    font-size: 14pt;
    left: 585px;
    top: 8px;  
}

.Users{
    position: absolute;
    background: rgb(255, 99, 120);
    top: 0px;
    width: 200px;
    height: 70px;
    left: 750px;
    border-radius: 0px; 
    opacity: 1; 
}

.Users:hover{
    opacity: 1;
    transition: 0.25s;   
}

.UsersTe{
    position: absolute;
    font-size: 14pt;
    left: 768px;
    top: 8px;    
}

.gif{
    position: fixed; z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%; 
}

.gif2{
    position: fixed; z-index: -2;
    opacity: 0;
}

.main{
    position: absolute;
    left: 0px;
    top: 180px;
    background: rgba(0, 0, 0, 0.548);
    width: 1200px;
    height: 1500px;
}

.news1{
    position: absolute;
    left: 50px;
    top: 50px;
    background: rgba(0, 0, 0, 0.548);
    width: 1100px;
    height: 1200px; 
}

.new1H2{
    position: absolute;
    left: 200px;
    color: darkred;
}

.news1Te{
    position: absolute;
    left: 25px;
    font-size: 10pt;
    color: rgb(13, 0, 70);
    top: 50px;
}

.Nick{
    position: absolute;
    top: 50px;
    left: 70px;
    color: rgb(255, 255, 255);  
}

.nameYa{
    position: absolute;
    top: 50px;
    left: 120px;
    color: rgb(255, 0, 64);   
}

.class{
    position: absolute;
    top: 50px;
    left: 270px;
    color: rgb(255, 0, 242); 
}

.Date{
    position: absolute;
    top: 50px;
    left: 580px;
    color: white;   
}

.TelegramNick{
    position: absolute;
    top: 50px;
    left: 860px;
    color: rgb(0, 183, 255);    
}


.l1{
    position: absolute;
    top: 100px;
    left: 10px;
    color: rgb(255, 255, 255);  
}

.p1{
    position: absolute;
    top: 100px;
    left: 70px;
    color: rgb(0, 255, 221);
}

.p1c{
    position: absolute;
    top: 100px;
    left: 260px;
    color: rgb(9, 0, 139);
}

.p1d{
    position: absolute;
    top: 100px;
    left: 560px;
    color: white;  
}

.p1t{
    position: absolute;
    top: 100px;
    left: 835px;
    color: darkgreen;   
}

.l2{
    position: absolute;
    top: 150px;
    left: 10px;
    color: rgb(255, 255, 255);    
}

.p2{
    position: absolute;
    top: 150px;
    left: 70px;
    color: rgb(255, 208, 0);
}

.p2c{
    position: absolute;
    top: 150px;
    left: 260px;
    color: rgb(9, 0, 139);  
}

.p2d{
    position: absolute;
    top: 150px;
    left: 560px;
    color: white;   
}

.p2t{
    position: absolute;
    top: 150px;
    left: 840px;
    color: darkgreen;  
}
.l3{
    position: absolute;
    top: 200px;
    left: 10px;
    color: rgb(255, 255, 255);   
}

.p3{
    position: absolute;
    top: 200px;
    left: 70px;
    color: rgb(255, 255, 255);   
}

.p3c{
    position: absolute;
    top: 200px;
    left: 260px;
    color: rgb(0, 0, 0);    
}

.p3d{
    position: absolute;
    top: 200px;
    left: 560px;
    color: white;   
}

.p3t{
    position: absolute;
    top: 200px;
    left: 875px;
    color: darkgreen;  
}


.l4{
    position: absolute;
    top: 250px;
    left: 10px;
    color: rgb(255, 255, 255);    
}

.p4{
    position: absolute;
    top: 250px;
    left: 70px;
    color: rgb(255, 255, 255);  
}

.p4c{
    position: absolute;
    top: 250px;
    left: 260px;
    color:  rgb(255, 83, 204);   
}

.p4d{
    position: absolute;
    top: 250px;
    left: 560px;
    color: white;  
}

.p4t{
    position: absolute;
    top: 250px;
    left: 880px;
    color: darkgreen;    
}

.l5{
    position: absolute;
    top: 300px;
    left: 10px;
    color: rgb(255, 255, 255);    
}

.p5{
    position: absolute;
    top: 300px;
    left: 70px;
    color: rgb(255, 255, 255);    
}

.p5c{
    position: absolute;
    top: 300px;
    left: 260px;
    color: darkred;    
}

.p5d{
    position: absolute;
    top: 300px;
    left: 560px;
    color: white;   
}

.p5t{
    position: absolute;
    top: 300px;
    left: 925px;
    color: darkgreen;     
}

.l6{
    position: absolute;
    top: 350px;
    left: 10px;
    color: rgb(255, 255, 255);    
}

.p6{
    position: absolute;
    top: 350px;
    left: 70px;
    color: rgb(255, 255, 255);  
}

.p6c{
    position: absolute;
    top: 350px;
    left: 260px;
    color: darkred;    
}

.p6d{
    position: absolute;
    top: 350px;
    left: 560px;
    color: white;  
}

.p6t{
    position: absolute;
    top: 350px;
    left: 790px;
    color: darkgreen;     
}

.l7{
    position: absolute;
    top: 400px;
    left: 10px;
    color: rgb(255, 255, 255);   
}

.p7{
    position: absolute;
    top: 400px;
    left: 70px;
    color: rgb(255, 255, 255);   
}

.p7c{
    position: absolute;
    top: 400px;
    left: 260px;
    color: darkred;   
}

.p7d{
    position: absolute;
    top: 400px;
    left: 560px;
    color: white;    
}

.p7t{
    position: absolute;
    top: 400px;
    left: 925px;
    color: darkgreen;       
}

.l8{
    position: absolute;
    top: 450px;
    left: 10px;
    color: rgb(255, 255, 255);   
}

.p8{
    position: absolute;
    top: 450px;
    left: 70px;
    color: rgb(255, 255, 255);      
}

.p8c{
    position: absolute;
    top: 450px;
    left: 260px;
    color: rgb(160, 160, 160);   
}

.p8d{
    position: absolute;
    top: 450px;
    left: 560px;
    color: white;     
}

.p8t{
    position: absolute;
    top: 450px;
    left: 855px;
    color: darkgreen;    
}

.l9{
    position: absolute;
    top: 500px;
    left: 10px;
    color: rgb(255, 255, 255);    
}

.p9{
    position: absolute;
    top: 500px;
    left: 70px;
    color: rgb(255, 255, 255);   
}

.p9c{
    position: absolute;
    top: 500px;
    left: 260px;
    color: darkred;  
}

.p9d{
    position: absolute;
    top: 500px;
    left: 560px;
    color: white; 
}

.p9t{
    position: absolute;
    top: 500px;
    left: 925px;
    color: darkgreen;    
}

.l10{
    position: absolute;
    top: 550px;
    left: 10px;
    color: rgb(255, 255, 255);  
}

.p10{
    position: absolute;
    top: 550px;
    left: 85px;
    color: rgb(255, 255, 255);     
}

.p10c{
    position: absolute;
    top: 550px;
    left: 260px;
    color: rgb(160, 160, 160);  
}

.p10d{
    position: absolute;
    top: 550px;
    left: 560px;
    color: white;     
}

.p10t{
    position: absolute;
    top: 550px;
    left: 860px;
    color: darkgreen;    
}

.l11{
    position: absolute;
    top: 600px;
    left: 10px;
    color: rgb(255, 255, 255);    
}

.p11{
    position: absolute;
    top: 600px;
    left: 85px;
    color: rgb(255, 255, 255);    
}

.p11c{
    position: absolute;
    top: 600px;
    left: 260px;
    color: darkred;  
}

.p11d{
    position: absolute;
    top: 600px;
    left: 560px;
    color: white;     
}

.p11t{
    position: absolute;
    top: 600px;
    left: 925px ;
    color: darkgreen;      
}

.l12{
    position: absolute;
    top: 650px;
    left: 10px;
    color: rgb(255, 255, 255); 
}

.p12{
    position: absolute;
    top: 650px;
    left: 85px;
    color: rgb(255, 255, 255);    
}

.p12c{
    position: absolute;
    top: 650px;
    left: 260px;
    color: darkred; 
}

.p12d{
    position: absolute;
    top: 650px;
    left: 560px;
    color: white;      
}

.p12t{
    position: absolute;
    top: 650px;
    left: 880px;
    color: darkgreen; 
}

.l13{
    position: absolute;
    top: 700px;
    left: 10px;
    color: rgb(255, 255, 255);   
}

.p13{
    position: absolute;
    top: 700px;
    left: 85px;
    color: rgb(255, 255, 255);   
}

.p13c{
    position: absolute;
    top: 700px;
    left: 260px;
    color: darkred;  
}

.p13d{
    position: absolute;
    top: 700px;
    left: 560px;
    color: white;   
}

.p13t{
    position: absolute;
    top: 700px;
    left: 860px;
    color: darkgreen;  
}

.l14{
    position: absolute;
    top: 750px;
    left: 10px;
    color: rgb(255, 255, 255);   
}

.p14{
    position: absolute;
    top: 750px;
    left: 85px;
    color: rgb(255, 255, 255);   
}

.p14c{
    position: absolute;
    top: 750px;
    left: 260px;
    color: darkred;   
}

.p14d{
    position: absolute;
    top: 750px;
    left: 560px;
    color: white;  
}

.p14t{
    position: absolute;
    top: 750px;
    left: 845px;
    color: darkgreen;   
}

.l15{
    position: absolute;
    top: 800px;
    left: 10px;
    color: rgb(255, 255, 255);   
}

.p15{
    position: absolute;
    top: 800px;
    left: 85px;
    color: rgb(255, 255, 255);    
}

.p15c{
    position: absolute;
    top: 800px;
    left: 260px;
    color: darkred;   
}

.p15d{
    position: absolute;
    top: 800px;
    left: 560px;
    color: white;  
}

.p15t{
    position: absolute;
    top: 800px;
    left: 820px;
    color: darkgreen;   
}

@media (max-width:1000px){
    .gif{
        position: fixed; z-index: -2;
        opacity: 0;
    }
    
    .gif2{
        position: fixed; z-index: -1;
        top: 0px;
        opacity: 1;
        left: 0px;
        width: 100%;
        height: 100%; 
    }
    .Logo{
        position: absolute;
        width: 135px;
        height: 135px;
        border-radius: 1000px;
    }
    
    .top{
        position: absolute;
        background: rgb(102, 102, 102);
        width: 1200px;
        height: 100px;
        left: 150px;
        top: 20px;
        border-radius: 20px;
    }
    
    .Gla{
        position: absolute;
        background: rgb(255, 99, 120);
        top: 0px;
        width: 200px;
        height: 100px;
        left: 150px;
        border-radius: 0px; 
        opacity: 0;
    }
    
    .Gla:hover{
        opacity: 1;
        transition: 0.25s;
    }
    
    .Glate{
        position: absolute;
        font-size: 14pt;
        left: 185px;
        top: 25px;
    }
    
    .Info{
        position: absolute;
        background: rgb(255, 99, 120);
        top: 0px;
        width: 200px;
        height: 100px;
        left: 350px;
        border-radius: 0px; 
        opacity: 0;
    }
    
    .Info:hover{
        opacity: 1;
        transition: 0.25s;  
    }
    
    .InfoTe{
        position: absolute;
        font-size: 14pt;
        left: 358px;
        top: 25px; 
    }
    
    .Rules{
        position: absolute;
        background: rgb(255, 99, 120);
        top: 0px;
        width: 200px;
        height: 100px;
        left: 550px;
        border-radius: 0px; 
        opacity: 0;
    }
    
    .Rules:hover{
        opacity: 1;
        transition: 0.25s;  
    }
    
    .RulesTe{
        position: absolute;
        font-size: 14pt;
        left: 585px;
        top: 25px;  
    }
    
    .Users{
        position: absolute;
        background: rgb(255, 99, 120);
        top: 0px;
        width: 200px;
        height: 100px;
        left: 750px;
        border-radius: 0px; 
        opacity: 1; 
    }
    
    .Users:hover{
        opacity: 1;
        transition: 0.25s;   
    }
    
    .UsersTe{
        position: absolute;
        font-size: 14pt;
        left: 768px;
        top: 25px;    
    }
    .news1Te{
        position: absolute;
        left: 25px;
        font-size: 13pt;
        color: rgb(255, 255, 255);
        top: 40px;
        line-height: 1.5;
    }
    
}